.button {
    display: block;
    padding: 30px;
    border-radius: 15px;
    font: {
        weight: 600;
        size: 24px;
    }
    color: #fff;
    border: none;
    background-color: #008cff;
    border: 1px solid #878e93;
    margin: 20px;
    width: 90%;
}