.pokemons {
    display: grid;
    grid-template-areas: 
    "filter filter"
    "message message"
    "main chosen"
    "button chosen";
    grid-template-columns: 0.6fr 0.4fr;
    &-filter {
        grid-area: filter;
    }
    &-message {
        display: none;
        grid-area: message;
    }
    &-main {
        grid-area: main;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-button {
        grid-area: button;
        display: flex;
        justify-content: center;
    }
    &-chosen {
        grid-area: chosen;
    }
}
.error {
    display: block;
    color: red;
}